<%= render 'shared/navbar', title: 'GROUPS', back: false%>
<% @groups.each do |group| %>
  <div class="container-fluid w-100 border d-flex align-items-center" style="width: 18rem;">
    <% if group.icon.size.zero? %>
      <%= image_tag "img_placeholder.jpg",  style: 'height:5em;' %>
    <% else %>
      <%= image_tag group.icon,  style: 'height:5em;' %>
    <% end %>
    <%= link_to group.name, group_path(group.id),class: "display-1 text-capitalize text-decoration-none text-center flex-grow-1"%>
    <p class="display-6"><%= group.total_amount%></p>
  </div>
<% end %>
<%= link_to 'New group', new_group_path, class: 'btn btn-success btn-lg btn-block fixed-bottom'%>
